.main{
    position: relative;
    width: 8rem;
    border: 2px solid black;
}

.button{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.children{
    height: 0;
    width: 100%;
    top: 100%;
    overflow: hidden;
    position: absolute;
    transition: height 5s;
}
.open{
    height: min-content;
    border: 1px solid grey;
}

.flipped{
    transform: rotate(180deg);
}